@using MShop.Presentation.MPA.Admin.Controllers;
@using MShop.Presentation.MPA.Admin.Infrastructure.Extensions;

@model MShop.Presentation.MPA.Admin.Models.Forums.EditForumViewModel

<form asp-action="@nameof(ManageForumController.AddForum)" 
	  asp-controller="@nameof(ManageForumController).ShortName()">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Title" class="control-label">Title</label>
		<input type="text" asp-for="Title" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Moderated" class="control-label">Moderated</label>
		<input type="text" asp-for="Moderated" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Importance" class="control-label">Importance</label>
		<input type="text" asp-for="Importance" class="form-control" />
	</div>
	<div class="form-group">
		@*<img src="@Model.ImageUrl" asp-append-version="true" width="200" />
			<input type="text" asp-for="Importance" class="form-control" />*@
	</div>
	<div class="form-group">
		<label asp-for="Description" class="control-label">Description</label>
		<input type="text" asp-for="Description" class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-default" />
	</div>
</form>