Recover your password

If you forgot your password, you can use this page to have it sent to you by e-mail.



Step 1: enter your username

<table>
    <tr>
        <td>Username</td>
        @*<asp:RequiredFieldValidator
            ID="valRequireUserName"
            runat="server"
            ControlToValidate="UserName"
            SetFocusOnError="true"
            Display="Dynamic"
            ErrorMessage="Username is required."
            ToolTip="Username is required."
            ValidationGroup="PasswordRecovery1">*</asp:RequiredFieldValidator>*@
        <td></td>
    </tr>
    <tr>
        <td>FailureText</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><button>Submit</button></td>
    </tr>
</table>

Step 2: answer the following question

<table>
    <tr>
        <td>Username</td>
        <td></td>
    </tr>
    <tr>
        <td>Question</td>
        <td></td>
    </tr> 
    <tr>
        <td>Answer</td>
        <td></td>
    </tr>
    <tr>
        <td>FailureText</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><button>Submit</button></td>
    </tr>
</table>
