@using MShop.Presentation.MPA.Admin.Controllers;
@using MShop.Presentation.MPA.Admin.Infrastructure.Extensions;
@model MShop.Presentation.MPA.Admin.Models.Store.AddDepartmentViewModel

<form asp-action="@nameof(ManageStoreController.AddDepartment)"
	  asp-controller="@nameof(ManageStoreController).ShortName()">

	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="AddedBy" class="control-label">AddedBy</label>
		<input type="text" asp-for="AddedBy" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="AddedDate" class="control-label">AddedDate</label>
		<input type="text" asp-for="AddedDate" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Title" class="control-label">Title</label>
		<input type="text" asp-for="Title" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Importance" class="control-label">Importance</label>
		<input type="text" asp-for="Importance" class="form-control" />
	</div>
	@*<div class="form-group">
			<label asp-for="ImageUrl" class="control-label">ImageUrl</label>
			<input type="text" asp-for="ImageUrl" class="form-control" />
		</div>*@
	<div class="form-group">
		<label asp-for="Description" class="control-label">Description</label>
		<input type="text" asp-for="Description" class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Update" class="btn btn-default" />
	</div>
</form>