
<style>
	#newsletter-box {
		background-color: #f9e0b2 ;
		border: 1px solid black;
		display: inline;
		width: 220px;
		padding: 15px;
		border-radius: 15px;
		float: right;
		position: absolute;
		right: 20px;
		top: 80px;
	}
</style>

<div id="newsletter-box">

	<h3>Newsletter</h3>

	Register to the site for free, and subscribe to the newsletter.
	Every month you will receive new articles and special content
	not available elsewhere on the site,
	right into your e-mail box!
	<br /><br />
	<input type="text" placeholder="E-mail here" />
	<a asp-controller="User" asp-action="Register">OK</a>
	<br /><br />

	<a asp-controller="Newsletters"
	   asp-action="ArchivedNewsletters"
	   asp-route-toDate="@DateTime.Now">
		Archived Newsletters
	</a>
</div>