<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="nhconstring"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-29VSM9A\SQLEXPRESS;Initial Catalog=MShopDB2;Integrated Security=True;Pooling=False" />
  </connectionStrings>

  <system.serviceModel>

    <!--Define the behaviours-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="SOAPRESTDemoBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <!---Endpoint -->
      <endpointBehaviors>
        <behavior name="SOAPRESTDemoEndpointBehavior">
          <webHttp />
        </behavior>
        <behavior name="RESTDemoEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>


    <services>
      <service name="WCF.Service.Library.Implementations.Admin.ManageArticlesService" behaviorConfiguration="SOAPRESTDemoBehavior">
        
        <endpoint
          address=""
          behaviorConfiguration="RESTDemoEndpointBehavior"
          binding="webHttpBinding"
          contract="WCF.Service.Library.Contracts.Admin.IManageArticlesService" />
        
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
        
      </service>
    </services>

    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>

    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>-->

  </system.serviceModel>


  <system.web>
    <compilation debug="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
