@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@model MShop.Presentation.MPA.Public.Models.Home.ContactsViewModel;

<form asp-controller="@nameof(HomeController).ShortName()" 
	  asp-action="@nameof(HomeController.Contact)">
	<table>
		<tr>
			<td>Ваше имя:</td>
			<td><input type="text" asp-for="Name" /></td>
		</tr>
		<tr>
			<td>Ваш email:</td>
			<td><input type="text" asp-for="Email" /></td>
		</tr>
		<tr>
			<td>Тема:</td>
			<td><input type="text" asp-for="Subject" /></td>
		</tr>
		<tr>
			<td>Сообщение:</td>
			<td><textarea type="text" asp-for="Body"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit"></button></td>
		</tr>
	</table>
</form>