@model MShop.Presentation.MPA.Public.Models.Articles.CommentDetailsViewModel

Post your comment:

<form asp-controller="" asp-action="">
    <table>
        <tr>
            <td>Имя:</td>
            <td><input asp-for="AddedBy"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input asp-for="AddedByEmail" /></td>
        </tr>
        <tr>
            <td>Комментарий:</td>
            <td><input asp-for="Body" /></td>
        </tr>
        <tr>
            <td></td>
            <td>Отправить</td>
        </tr>
    </table>
</form>