

<hr style="width: 100%; height: 1px;" />

How would you rate this article?

<select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option selected="selected">5</option>
</select>

<button>Rate</button>


Your rated this article {0} beer(s). Thank you for your feedback.