@model MShop.Presentation.MPA.Public.Models.Store.ShippingDetailsViewModel

<table>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Название</td>
        <td><input type="text" asp-for="Title"/></td>
    </tr>
    <tr>
        <td>Цена</td>
        <td><input type="text" asp-for="Price" /></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
