@model MShop.Presentation.MPA.Public.Models.Newsletters.NewsletterViewModel

<div>
	Newsletter:
	@Model.Subject
</div>

<p></p>

<small>
	<b>Plain-text Body:</b>
</small>

<div>
	@Model.PlaintextBody
</div>

<p></p>

<small>
	<b>HTML Body:</b>
</small>

<div>
	@Model.HtmlBody
</div>